@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-shadow: none;
}

body {
  color: #0000;
  background: #ffff;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Dellamor";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/public/fonts/Dellamor.otf") format("opentype");
}
