@font-face {
  font-family: "Dellamor";
  src: url("/public/fonts/Dellamor/Dellamor.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Moderat";
  src: url("/public/fonts/Moderat/Moderat-Light.ttf");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #0000;
  background: #ffff;
  font-family: "Moderat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.fontBalance {
  font-family: "dellamor-regular", sans-serif;
}

.customConnectSpan {
  display: flex;
  align-items: center;
  gap: 4px;
  background: radial-gradient(50% 50% at 50% 50%, #0099fb 0%, #006ded 100%);
  padding: 6px 8px;
  border-radius: 8px;
  box-shadow: 0px 3px 5.8px -2.5px #e443ca66;
  cursor: pointer;
}

.customConnectSpan button {
  all: unset;
  display: flex;
  align-items: center;
  background: white;
  font-size: 12px;
  color: #018fe9;
  padding: 5px 10px;
  border-radius: 8px;
  gap: 4px;
}
